<html>

<head>
	<title>Yule Wang</title>
	<meta name="description" content="Yule Wang">
	<link rel="stylesheet" href="style/main.css">
	<link rel="icon" href="image/icon.png">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47591515-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-47591515-2');
	</script>

</head>

<body>
	<header>
		<h1>Yule Wang</h1>
	</header>

	<div id="left">
		<section id="articles">

			<!-- ====================================================================================================================================================================== -->
			<!-- ================================================================================ work ================================================================================ -->
			<!-- ====================================================================================================================================================================== -->
			<section id="work">
				<h1>Work Experience</h1>

				<h4 id="company">SoundHound Inc.</h4>
				<h5 id="italic">Machine Learning Engineer II, Former</h5>

                <p>

                    Developed the VoiceAI that was used for various platforms:
                    Mobile Conversational APPs, Car Voice Assistants for Mercedes and Hyundai, and Restaurants AI Voice Order System.
                    Particularly focus on badly-form conversational user voice queries voice.

                </p>

				<ul>
					<li>Built and maintained a Audio-Text Command Query Noise Detector using Distil-RoBERTa (BERT)
                        transformer neural network, that could filter out 40% of noisy user voice-commands and resulted
                        in a reduction of 20% of processing time in the real-time query stream production pipelines.
                    </li>
                    <li>Defined noisy queries for production feasibility purposes and user-centric purposes.
                        Automated a backend benchmarking analytics pipeline of production noisy queries.
                    </li>
                    <li>Developed a Rule-Based NLP program for recognizing valid user-commands and created a Grammar-Detector together
                        to assist the auto-labeling of the noisy training dataset (in which only 0.5% were properly manually labeled)
                        by implementing entity extraction, parsing and Part-of-speech (POS) tagging using spaCy.
                    </li>
                    <li>Created and maintained a pipeline that could automatically add more rule-based patterns
                        when new production queries comes by implementing spaCy.</li>
                    <li>Experimented in Bayesian semi-supervised classification
                        that can potentially correct the biased rule-based auto-labeling processes mentioned above.
                    </li>

                    <li>Performed text mining of the user intentions and sentence structural patterns to detect
                        whether a user query that provides complex characteristics, such as a query that has multiple user intents
                        or a question in a query that provides multiple choices to compare between or choose from. Programmed a tool
                        to suggest proper text regeneration and responses.
                    </li>
				</ul>

				<h4 id="company">Applied Quantitative Methods (AQM) </h4>
				<h5 id="italic">Data Analyst, Co-op</h5>
                <p>

                    Cross-team with Best Buy Data Team to perform Twitter Data Analytics

                </p>
				<ul>
					<li>Built a content-based spam tweets filtering system using Naive Bayesian classifier, that reached an accuracy of 90%.</li>
                    <li>Developed a sentiment analysis model to evaluate the satisfaction improvement of
                        customers after they were being responded to by Best Buy customer service on Twitter
                        using the support vector machines (SVM).</li>
                    <li>Successfully classified different topics for Best Buy tweets using the Latent Dirichlet Allocation (LDA).</li>
                    <li>Performed gender classifications of Twitter usernames  and achieved an accuracy of 92%,
                        by implementing the semi-supervised character n-grams algorithm.</li>
				</ul>



			</section>

            <section id="academy">
				<h1>Academia Experience</h1>
                <h4 id="university">Simon Fraser University</h4>
                <h5 id="italic">PhD Research Assistant & Teaching Assistant</h5>

                <p>
                    In my PhD research experience, I was focusing understanding how a correlated fracture network evolved in a low-correlated system and in a high-correlated systems.
                    <br>
                    <br>They depicted distinct characteristics:
                    <br>For low-correlated systems, the breakage or generation of the elements (or bonds) in the network more randomly. The avalanche of fracture takes place in the mid-late stage.
                    <br>For highly-correlated systems, the correlation of breakage starts very early in the fracture dynamics.
                </p>
                <ul>
                    <li>Built a random graph model that studied the random failure dynamics in polymer networks in statistical physics study purposes and successfully forecast real-world polymer failure times.</li>
                    <li>Established a kinetic Monte Carlo program in Python for simulating the fracture processes that follows a Markov chain.</li>
                </ul>

                <h5 id="italic">Fracture Process of Low-Correlation</h5>

                <video width="320" height="240" controls>
                  <source src="videos/animation_perco_low_corr.mp4" type="video/mp4">
                </video>

                <h5 id="italic">Fracture Process of Highly-Correlation</h5>
                <video width="320" height="240" controls>
                  <source src="videos/animation_high_corr.mp4" type="video/mp4">
                </video>
                <!--<p>-->
                <!--Video of-->
                <!--<a href="https://github.com/yulew/PhDProject/blob/main/Animations/animation_perco_low_corr.mp4" target="_blank">Fracture Dynamics of a polymer network</a>.-->
                <!--</p>-->
			<!-- ====================================================================================================================================================================== -->
			<!-- ============================================================================= education ============================================================================== -->
			<!-- ====================================================================================================================================================================== -->
			<section id="education">
				<h1>Education</h1>
				<h4 id="sfu">Simon Fraser University</h4>
				<h5 id="italic">PhD in Physics, 2021</h5>
				<p>
					Statistical Physics &bullet;
					Machine Learning &bullet;
					Random Networks &bullet;
					Stochastic Processes
				</p>

				<h4 id="sfu">Simon Fraser University</h4>
				<h5 id="italic">MSc in Physics</h5>
				<p>
					Quantum Mechanics &bullet;
					<!--Applied Probabilities &bullet;-->
					<!--Classification &bullet;-->
					<!--Data Visualization &bullet;-->
					<!--Generalized Linear Models &bullet;-->
					<!--Spatial Data Analysis &bullet;-->
					<!--Statistical Learning &bullet;-->
					Solid State Physics
				</p>

				<!--<h4 id="uw">Online Courses</h4>-->
				<!--<p>-->
					<!--<h5 id="italic">Udemy</h5>-->
					<!--<ul>-->
						<!--<li>Natural Language Processing with Deep Learning in Python</li>-->
					<!--</ul>-->
					<!--<h5 id="italic">EdX</h5>-->
					<!--<ul>-->
						<!--<li>Introduction to Big Data with Apache Spark</li>-->
						<!--<li>Scalable Machine Learning</li>-->
					<!--</ul>-->
					<!--<h5 id="italic">Coursera</h5>-->
					<!--<ul>-->
						<!--<li>Deep Learning Specialization (5 Courses)</li>-->
						<!--<li>Machine Learning</li>-->
						<!--<li>Data Science Specialization (9 Courses)</li>-->
					<!--</ul>-->
				<!--</p>-->
			</section>

<!--			 ======================================================================================================================================================================-->
			<!-- =============================================================================== others =============================================================================== -->
			<section id="Other Projects">
				<h1> Other NLP Projects</h1>
				<h4>Twitter Analytics</h4>
				<p><li>
                    Twitter Crawler
				</li></p>
				<a id="twitter_analystics" href="https://github.com/yulew/TwitterAnalytics" target="_blank"> GitHub Repo</a>

<!--                <p><li>-->
<!--                    1st Place @<a id="hackathon" href="https://twitter.com/Analytix_Studio/status/942563842168578048?s=20&t=hHizlGBcC_CAQOURA7Yafw" target="_blank"> Simon Fraser University Data Analytics Hackathon</a>:-->
<!--                    <br> &nbsp&nbsp Applied Random Forest to predict haul truck failures. </li></p>-->
<!--				<h1>Text Parser</h1>-->
<!--				<p><li>-->
<!--                    Dependent Parser-->
<!--				</li></p>-->
			</section>
<!--			 ======================================================================================================================================================================-->
			<section id="Data & Machine Learning Awards">
				<h1>Data & Machine Learning Awards</h1>
				<p><li>
                    Kaggle: Bronze Metal & Top 8% @<a id="talkingdata" href="https://www.kaggle.com/c/talkingdata-adtracking-fraud-detection" target="_blank">TalkingData AdTracking Fraud Detection Challenge</a>:
                    <br> &nbsp&nbsp Implemented LightGBM to predict fraudulent clicks on mobile advertisements.</li> </p>
                <p><li>
                    1st Place @<a id="hackathon" href="https://twitter.com/Analytix_Studio/status/942563842168578048?s=20&t=hHizlGBcC_CAQOURA7Yafw" target="_blank"> Simon Fraser University Data Analytics Hackathon</a>:
                    <br> &nbsp&nbsp Applied Random Forest to predict haul truck failures. </li></p>

			</section>

			<section id="publication">
				<h1>Publications</h1>
				<li><p> <a id="pre" href="https://journals.aps.org/pre/abstract/10.1103/PhysRevE.101.042603" target="_blank">Wang, Y. and Eikerling, M. "Fracture dynamics of correlated percolation on ionomer networks" Physical Review E, 101, 042603 (2020).</a></li> </p>
			</section>

	</div>


	<!-- ====================================================================================================================================================================== -->
	<!-- ============================================================================== side bar ============================================================================== -->
	<!-- ====================================================================================================================================================================== -->
	<div id="right">
		<section id="interest">
			<h1>Areas of Interests</h1>
			<ul>
				<li>Machine Learning</li>
				<li>Data Mining</li>
				<li>Statistical Modeling</li>
				<li>Natural Language Processing</li>
			</ul>
		</section>

		<section id="software">
		  <h1>Summary of Qualifications</h1>
		  <h3>Programming Languages</h3>
		  <ul>
			  <li>Python, Jupyter</li>
			  <li>Git, Bash, HTML</li>
			  <li>MySQL</li>

		  </ul>
		  <h3>Libraries</h3>
		  <ul>
			  Python: Numpy, SciPy, Pandas, sklearn, Tensorflow, Keras, PyTorch, XGboost, sPacy, NLTK,  Matplotlib, flask
		  </ul>
		</section>

		<section id="contact">
			<h1>Links</h1>
			<ul>
				<li><a id="resume" target="_blank" href="file/Resume_Yule_Wang.pdf" class="button">Resume Download</a></li>
				<li><a id="github" href="https://github.com/yulew/" target="_blank">Github</a></li>
				<li><a id="linkedin" href="https://www.linkedin.com/in/yule-wang-ml/" target="_blank">LinkedIn</a></li>
				<li><a id="kaggle" href="https://www.kaggle.com/moonswords" target="_blank">Kaggle Profile</a></li>
				<li><a href="mailto:yulemoon@gmail.com">Email</a></li>
			</ul>
		</section>

		<section id="hobby">
			<h1>Hobbies</h1>
			<ul>
				<li>Core Video Games Fan</li>
			</ul>
		</section>
	</div>
</body>

</html>
<!--<p>Hello there! I am Yule Wang, an NLP Machine Learning Engineer and a Physics Ph.D.</p>-->
<!--<p>This is my personal website. </p>-->
<!--<p>My LinkedIn profile is:</p>-->

<!--<ul>-->
  <!--<li> <a href="https://www.linkedin.com/in/yule-wang-ml/">LinkedIn</a> </li>-->
<!--</ul>-->

<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<title> Yule Wang's homepage</title>-->


<!--<body>-->

<!--<video width="400" controls>-->
  <!--<source src="mov_bbb.mp4" type="video/mp4">-->
  <!--<source src="mov_bbb.ogg" type="video/ogg">-->
  <!--Your browser does not support HTML video.-->
<!--</video>-->

<!--<p>-->
<!--Video of-->
<!--<a href="https://github.com/yulew/PhDProject/blob/main/Animations/animation_perco_low_corr.mp4" target="_blank">Fracture Dynamics of a polymer network</a>.-->
<!--</p>-->

<!--</body> -->
<!--</html>-->


<!--<html>-->
	<!--<head>-->
		<!--<meta>-->
		<!--<title>{% block title %}Yule Wang{% endblock %}</title>-->
		<!--<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css">-->
		<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
	<!--</head>-->
	<!--<body>-->
		<!--<div id="container">-->
			<!--<header>-->
				<!--<h1><a href = "/">Yule Wang</a></h1>-->
				<!--<nav id="menu">-->
					<!--<ul>-->
						<!--<li id="menu1"><a class="LinkedIn" href="https://www.linkedin.com/in/yule-wang-ml/">LinkedIn</a></li>-->
						<!--&lt;!&ndash;<li id="menu2"><a class="face" href="https://www.facebook.com/cesarvargas00">face</a></li>&ndash;&gt;-->
						<!--&lt;!&ndash;<li id="menu3"><a class="twitter" href="https://twitter.com/madasheila">twitter</a></li>&ndash;&gt;-->
					<!--</ul>-->
				<!--</nav>-->
			<!--</header>-->
			<!--<section id="content">-->
				<!--&lt;!&ndash;{% block content %}&ndash;&gt;-->
					<!--&lt;!&ndash;{% for p in ultimos_posts%}&ndash;&gt;-->
					<!--<h2>{{p.title}}</h2>-->
					<!--<h3>Posted in {{p.data}} #<a href="/post/{{p.id}}/#disqus_thread"> 0 Comments</a></h3>-->
					<!--{% if user.is_authenticated %}<a href="/apagar/{{p.id}}">remove</a>{% endif %}-->
					<!--<div class="post">-->
						<!--<p>-->
						<!--{{p.conteudo|markdown:"safe"}}-->
						<!--</p>-->
						<!--<a href="/post/{{p.id}}" class="more">. . .more</a>-->
					<!--</div>-->
					<!--{%endfor%}-->
					<!--<div class="navigation">&lt&nbsp&nbsp&nbsp&gt</div>-->
				<!--{% endblock %}-->
			<!--</section>-->
			<!--<footer>-->
				<!--<a href="#">about</a>-->
				<!--<a href="/history">history</a>-->
				<!--{% if user.is_authenticated %}<a href="/logout">logout</a>{% else %}<a href="/login">login</a>{% endif %}-->
			<!--</footer>-->
		<!--</div>-->
		<!--{% block scripts %}-->
		<!--<script type="text/javascript">-->
        <!--/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */-->
        <!--var disqus_shortname = 'cesarblog'; // required: replace example with your forum shortname-->

        <!--/* * * DON'T EDIT BELOW THIS LINE * * */-->
        <!--(function () {-->
            <!--var s = document.createElement('script'); s.async = true;-->
            <!--s.type = 'text/javascript';-->
            <!--s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';-->
            <!--(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);-->
        <!--}());-->
        <!--</script>-->
        <!--{% endblock %}-->
	<!--</body>-->
<!--</html>-->